#topbanner{
	background:url(img/pic.jpg);
	background-size: 100%;
	background-repeat: no-repeat;
}
.banner-searsh{
	margin-top: 5px;
	margin-bottom: 20px;
	max-width: 75%;
	float: right; 
}
#search-in{
	background: none;
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}
#search-in:focus{
	background:#ffffff;
}
#button-addon{
	border: #ffffff;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
.bb{
	width:180px;
	padding:5px;
	border-radius: 1.3em;
	background-color: #70dc70;
	border: 1px solid #70dc70;
}
.nav a{
	display: inline-block;
	color: white;
	font-size: 19px;
	transition:0.5s;
	border-radius:5px;
	position:sticky;
	padding: 15px;
	text-decoration: none;
}
a:hover{
		color: green;
}
.a1 {
	font-size:350%;
	color: white;
	font-weight: bold;
	padding-top: 140px
}
.bb{
	margin-top: 40px;
}
.bb2{
	width: 180px;
	border-radius: 1.3em;
	color: white;
	background-color: transparent;
	margin-top: 80px;
	margin-bottom: 40px;
}
.a2{
	margin: 25px 0px;
	word-spacing: 5px;
	letter-spacing: 3px;
	color:green;
}

.a3{
	color:#29e429;
	margin: 20px;
}

.a2:after{
	content: "";
	display: block;
	width: 60px;
	height: 2px;
	background: green;
	position: relative;
	left: 47%;
	top:10px;
}
img{margin: 30px;
	width: 100%;
	border: 3px solid green;
}
#banner{
	background-color: #7af37a;
	margin-top: 20px;
}
#trio{
	border: 1px solid green;
	border-radius: 1.3em;
}
.trio{
	border: 1px solid green !important;
}

.btn-group{
margin-top: 60px;
}
.buttons {border-top-left-radius:1.3em;
	border-bottom-left-radius:1.3em; }
.bb3{
	width: 180px;
	border-radius: 1.3em;
	color: white;
	background-color: green;
	margin-top: 20px;
	margin-bottom: 20px;  
}
a .red{
	border-radius: 1.3em;
}
.row_img{
	border-radius: 5%;
	width: 100%;
}
